[submodule "modules/mHTTP"]
	path = modules/mHTTP
	url = https://github.com/SkyLined/mHTTP/
[submodule "modules/mDebugOutput"]
	path = modules/mDebugOutput
	url = https://github.com/SkyLined/mDebugOutput/
[submodule "modules/mWindowsSDK"]
	path = modules/mWindowsSDK
	url = https://github.com/SkyLined/mWindowsSDK/
[submodule "modules/oConsole"]
	path = modules/oConsole
	url = https://github.com/SkyLined/oConsole/
[submodule "modules/mMultiThreading"]
	path = modules/mMultiThreading
	url = https://github.com/SkyLined/mMultiThreading/
[submodule "modules/cTreeServer"]
	path = modules/cTreeServer
	url = https://github.com/SkyLined/cTreeServer/
[submodule "modules/cFileSystemItem"]
	path = modules/cFileSystemItem
	url = https://github.com/SkyLined/cFileSystemItem/
[submodule "modules\\mSSL"]
	path = modules\\mSSL
	url = https://github.com/SkyLined/mSSL
[submodule "modules\\mHTTPConnections"]
	path = modules\\mHTTPConnections
	url = https://github.com/SkyLined/mHTTPConnections
[submodule "modules\\mTCPIPConnections"]
	path = modules\\mTCPIPConnections
	url = https://github.com/SkyLined/mTCPIPConnections
[submodule "modules\\mHTTPProtocol"]
	path = modules\\mHTTPProtocol
	url = https://github.com/SkyLined/mHTTPProtocol
[submodule "modules\\mWindowsAPI"]
	path = modules\\mWindowsAPI
	url = https://github.com/SkyLined/mWindowsAPI
[submodule "modules\\mDateTime"]
	path = modules\\mDateTime
	url = https://github.com/SkyLined/mDateTime
[submodule "modules\\mRegistry"]
	path = modules\\mRegistry
	url = https://github.com/SkyLined/mRegistry
[submodule "modules\\mProductDetails"]
	path = modules\\mProductDetails
	url = https://github.com/SkyLined/mProductDetails
